@{ ViewData["Title"] = "Home Page"; }

<div style="background-color:black">
    <nav class="navbar navbar-expand navbar-dark row" style="background-color: black;">
        <div class="collapse navbar-collapse">

            <div class="col-lg-2" style="text-align:center">
                <a href="/Home/Index" class="nav-item active">
                    <img src="~/images/logo blanco.png" alt="Logo ORACON" width="80px" height="65px" />
                </a>

            </div>
            <div class="col-lg-6" style="text-align:center">

                <div class="row">
                    <div class="col-lg-3">
                        <a href="#" style="color:white">NOSOTROS</a>

                    </div>
                    <div class="col-lg-3" style="text-align:center">
                        <a href="#" style="color:white">SERVICIOS</a>
                    </div>
                    <div class="col-lg-3" style="text-align:center">
                        <a href="#" style="color:white">NOTICIAS</a>
                    </div>
                    <div class="col-lg-3" style="text-align:center">

                        <a href="#" style="color:white">CURSOS</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-4">
                        <a class="btn" href="#" style="color: white; background-color: #ff2f00;">CLIENTE VIP</a>
                    </div>
                    <div class="col-lg-6">
                        <a class="btn" href="#" style="color: white; background-color: #ff2f00;">CONVIERTETE EN CLIENTE</a>
                    </div>

                </div>
                
            </div>
           

        </div>
    </nav>
</div>

