
@{
    ViewData["Title"] = "Login";
    Layout = null;

}

<h2>Login Profesor</h2>
<form action="/Profesor/Login" method="post">
    <br />
    <label>Usuario: </label>
    <input type="text" name="usuario" />
    <br />

    <label>Contraseña: </label>
    <input type="password" name="passwd" />
    <br />
    <button type="submit">Iniciar Sesión</button>
</form>


