
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h2>Index</h2>

<br />
<h1>
    <a href="/Admin/VerProfesores">Profesores</a>
</h1>
<br />
<h1>
    <a href="/Admin/VerPagos">Pagos</a>
</h1>
<br />
<h1>
    <a href="/Admin/VerCursos">Cursos</a>
</h1>